extends layout

block content
  form(method='post', action='/workout/new')
    fieldset
      legend= title
      .clearfix
        label(for='workout') Workout Description
        .input
          input.xlarge#workout(type='text', name='workout[description]')
      .clearfix
        label(for='workouttype') Workout Type
        .input
          select.xlarge#workouttype(name='workout[type]')
            - each workouttype in workouttypes
              option(value='#{workouttype._id}')= workouttype.name
      .clearfix
        label(for='workouttime') Workout Time / Reps
        .input
          input.xlarge#workouttime(type='text', name='workout[number]')
      .actions
        input.btn.primary(type='submit', value='Workedout!')
        |
        a.btn(href='/') Cancel
